__pycache__/
*.py[cod]
*.log
*.out
*.err
*.tmp
*.ipynb_checkpoints/
*.ipynb
*.csv
*.parquet
.ruff_cache/
.pytest_cache/
.mypy_cache/
.idea/
src/globalmacro/data/
src/globalmacro/datasets/
src/globalmacro/characteristics/
src/globalmacro/validation/
assetlist.pdf